.osd-unit
  .page-header
    %h1
      <%= singular_table_name.capitalize %>
      .pull-right
        = link_to raw(t('edit')), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary'
        = link_to raw(t('back',back_to: "<%= plural_table_name.capitalize %>")), <%= index_helper %>_path, :class => 'btn'
  %dl
  <% for attribute in attributes -%>
  %dt <%= attribute.human_name %>:
    %dd= @<%= singular_table_name %>.<%= attribute.name %>
  <% end -%>

